.desktopNavigationWrapper{
    background-color: orange;
    display: grid;
    grid-template: repeat(20, 1fr);
}

.navigationLogotype{
    width: 54px;
    grid-column: 1/3; 
    padding: 2%;
}

.signInButton{
    grid-column: 16/18;
}

.navigationLogotype,
.signInButton,
.shopButton,
.accessoriesButton,
.brandsButton,
.newsButton
{
    cursor: pointer;
    align-self: center;
    justify-self: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    
}